body {
	background-color: grey;
	font-family:'Bungee Inline', cursive;
}

h1 {
	text-align: center;
}

#form-style {
	text-align: center;
	margin-top: 0;
}

#form-style h4 {
	font-size: 1.5em;
}

#button-fun {
	text-align: center;
	font-size: 1.5em;
}

#hot {
	color: red;
	text-align: center;
}

#cold {
	color: blue;
	text-align: center;
}

#norm {
	text-align: center;
	color: green;
}

